*{
    box-sizing: border-box;
}
body{
    margin:0;

}
.container1{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(5,auto);
    height:320px;
    width:320px;
    position: absolute;
    top:200px;
    margin-left: 500px;
    background-color: lightgray;
    border:2px solid black;
    border-radius: 10px;
    padding:5px 5px;
}

.green{
  background-color: green;
  border:2px solid black;
  border-radius: 5px;
  margin:1px;
}

.blue{

    background-color: blue;
    border:2px solid black;
    border-radius: 5px;
    margin:1px;
  }

  .orange{
   
    background-color: orange;
    border:2px solid black;
    border-radius: 5px;
    margin:1px;
  }

  .white{
  
    background-color: white;
    border:2px solid black;
    border-radius: 5px;
    margin:1px;
  }
  .red{
    
    background-color: red;
    border:2px solid black;
    border-radius: 5px;
    margin:1px;
  }
  .yellow{
    
    background-color: yellow;
    border:2px solid black;
    border-radius: 5px;
    margin:1px;
  }

  .black{
    background-color: lightgray ;
    border-radius: 5px;
    margin:1px;
  }

.container3{
    position: absolute;
    top:200px;
    margin-left: 100px;
}

#btn{
  padding:2px 10px;
  margin-top: 400px;
 margin-left: 600px;
font-size: 20px;
cursor:pointer;
}
.container4{
  display: none;
  position:absolute;
  top:50px;
  margin-left: 100px;
  font-size: 34px;
  color: red;
}
.container4.show{
  display: flex;
}
.container2{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3,auto);
  height:100px;
  width:100px;
  margin-top:50px;
  margin-left: 600px;
  background-color: lightgray;
  border:2px solid black;
  border-radius: 2px;
  padding:2px 2px;
}

.container5{
  position:absolute;
  top:300px;
  left:50px;
}

.container6{
  display: none;
  position:absolute;
  top:400px;
  left:50px;
  font-size: 20px;
  color:red;
}
.container6.show{
  display: flex;
}
